body {
    background-color: #cfe3f8dd;
    margin: 0%;


}

.login-container,
.forgot-container,
.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    padding: 0;
    margin: 0px 35%;
    padding-top: 10%;


}

.login-button,
.send-linkBtn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 8px;
    margin-top: 20px;
}

.forgot-link {
    border: none;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;


}



.register-link {
    color: #4CAF50;

}

.login-button:hover,
.send-linkBtn:hover {
    background-color: #58cd5ce4;

    transition: all ease 0.8s;
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}


.login-form,
.forgot-form,
.register-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: rgba(127, 255, 212, 0.334);
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}


.login-form h2 {
    text-align: center;
    margin-top: 0%;
}

p {
    margin: 0%;
    padding: 0%;
    text-align: justify;
    font-size: 12px;
}


.login-profile .bi {
    color: #fff;
    border: 2px solid black;
    padding: 8px;
    border-radius: 50%;
    background-color: #000000;
    margin: 0%;

}

.register {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;

}




input {
    background: transparent;
    color: rgb(40, 32, 32);
    padding: 10px 20px;
    padding-bottom: 0;
    border: none;
    width: 85%;
    outline: none;
    font-size: 14px;
    font-family: sans-serif;
}

.checkbox {

    margin: 0%;
    padding: 0%;
    margin-left: 10px;
    width: 15px;


}

.email-input {
    margin-bottom: 12px;

}

@media (max-width: 768px) {


    .buttons {
        width: 100%;
        gap: 40px;
    }

    .login-form,
    .forgot-form {
        padding: 10px;
    }

    .login-container,
    .forgot-container,
    .register-container {
        width: 100%;
        margin: 0%;
        margin-top: 32%;
        padding: 8px;
    }
}



.register-form input {

    background: transparent;
    padding-bottom: 0;
    border-radius: 0;
    padding-top: 12px;
    outline: none;
    font-size: 14px;
    font-family: sans-serif;

}



.register-form input:active {
    border: none;
}

.username,
.email,
.password {
    display: flex;
    background-color: transparent;
    border-bottom: 1px solid black;
    align-items: center;
    padding-top: 10px;
}

.bi {
    margin-left: 10px;
    margin-top: 10px;

}

.register-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
    font-family: sans-serif;
    cursor: pointer;
    margin-top: 12px;

}

.register-button:hover {
    background-color: #58cd5ce4;

    transition: all ease 0.8s;
}